<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  
<div class="container">
  <table class='table table-bordered table-hover'>
    <thead>
      <tr class='active'>
          <td>Player ID</td>
          <td>Count</td>
      </tr>
    </thead>
    <tbody>
      <% result.forEach((res) => { %>
         <tr class='active'>
             <td><%= res.player_id %></td>
             <td><%= res.count %></td>
         </tr>
      <% }); %>
    </tbody>
  </table>
  
  </div>

</body>
</html>